<% layout("layouts/boilerplate") %>

<div class="text-center mt-5">
  <h1 class="display-4 text-danger">Oops!</h1>
  <p class="lead"><%= err.statusCode || 500 %> - <%= err.message || "Something went wrong." %></p>


</div>
<div class="text-center mt-3">
  <p class="text-muted">If the problem persists, please contact support.</p>
</div>